.parag {
    font-size: 1.3em;
}
.titre {
    font-size: 2em;
}
.cent {
    text-align: center;
}
html {
    scroll-behavior: smooth;
  }
  
  @keyframes fondu{
    0%{transform: translate(0,0);}
    100%{transform: translate(-2880px,0);}
}


.conteneur{
    overflow: hidden;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0px 15px 10px -5px #777
}

  .d2{
    width: 500px;
    height: 500px;
    background-color: #EDEDED;
    background-image: url("paysages NZ/Wellington.jpg");
    background-size: contain;
    animation: defilement1 12s linear infinite;
}

.d2:hover{
    animation-play-state: paused;
}

  @keyframes fondu1{
    0%{background-image: url("Hotels NZ/Auckland.jpg");}
    50%{background-image: url("paysages NZ/auckland view.jpg");}
    100%{background-image: url("Hotels NZ/Auckland.jpg");}
}

  .d1{
      width: 100%;
      height: 0px;
      padding-top: 75%;
      margin: 50px auto;
      box-shadow: 0px 0px 10px #777;
      background-color: #EDEDED;
      background-size: contain;
      animation: fondu1 15s ease-in-out infinite both;
}

.d1:hover{
    animation-play-state: paused;
}

  @keyframes fondu3{
    0%{background-image: url("Hotels NZ/Queenstown.jpg");}
    50%{background-image: url("paysages NZ/Queenstown_from_Bob's_Peak.jpg");}
    100%{background-image: url("Hotels NZ/Queenstown.jpg");}
}

  .d3{
      width: 100%;
      height: 0px;
      padding-top: 75%;
      margin: 50px auto;
      box-shadow: 0px 0px 10px #777;
      background-color: #EDEDED;
      background-size: contain;
      animation: fondu3 15s ease-in-out infinite both;
}

.d3:hover{
    animation-play-state: paused;
}

  @keyframes fondu4{
    0%{background-image: url("Hotels NZ/Rotorua.jpg");}
    50%{background-image: url("paysages NZ/Rotorua.jpg");}
    100%{background-image: url("Hotels NZ/Rotorua.jpg");}
}

  .d4{
      width: 100%;
      height: 0px;
      padding-top: 75%;
      margin: 50px auto;
      box-shadow: 0px 0px 10px #777;
      background-color: #EDEDED;
      background-size: contain;
      animation: fondu4 15s ease-in-out infinite both;
}

.d4:hover{
    animation-play-state: paused;
}

 @keyframes fondu5{
    0%{background-image: url("Hotels NZ/Wellington.jpg");}
    50%{background-image: url("paysages NZ/Dunedin.jpg");}
    100%{background-image: url("Hotels NZ/Wellington.jpg");}
}

  .d5{
      width: 100%;
      height: 0px;
      padding-top: 75%;
      margin: 50px auto;
      box-shadow: 0px 0px 10px #777;
      background-color: #EDEDED;
      background-size: contain;
      animation: fondu5 15s ease-in-out infinite both;
}

.d5:hover{
    animation-play-state: paused;
}

 @keyframes fondu6{
    0%{background-image: url("Hotels NZ/Tauraga.jpg");}
    50%{background-image: url("paysages NZ/Tauranga.jpg");}
    100%{background-image: url("Hotels NZ/Tauraga.jpg");}
}

  .d6{
      width: 100%;
      height: 0px;
      padding-top: 75%;
      margin: 50px auto;
      box-shadow: 0px 0px 10px #777;
      background-color: #EDEDED;
      background-size: contain;
      animation: fondu6 15s ease-in-out infinite both;
}

.d6:hover{
    animation-play-state: paused;
}






*{box-sizing: border-box }

img{

max-width:100%

}


.slideshow{

border: 5px solid white;
box-shadow: 0 0 5px hsla(0,0%,0%,.5);
overflow: hidden;
max-width: 600px;
margin: 2rem auto;
position: relative

}
    
.slideshow ul{

padding-bottom: 66.67%;/* ratio pour le responsive */
margin: 0;
list-style-type: none;
position: relative
	
	}
    
    
.slideshow li{

top: 0;
left: 0;
animation: slideshow 25s ease infinite;
position: absolute;
opacity: 0;


}

    

.slideshow li:nth-child(2){

animation-delay: 5s

}

.slideshow li:nth-child(3){

animation-delay: 10s

}

.slideshow li:nth-child(4){

animation-delay: 15s

}

.slideshow li:nth-child(5){

animation-delay: 20s

}

    
@keyframes slideshow{
	
0%{opacity: 0}

10%{opacity: 1}

20%{opacity: 1}

25%{opacity: 0}

100%{opacity: 0}
	
	} 

    
.slideshow span{

background: rgba(0,0,0,0.7);
height: 40px;
align-items: center;
justify-content: center;
display: flex;
color: white;
position: absolute;
bottom: 0;
right: 0;
left: 0

}
    
/*****barre progression *****/
.barre_progression{ 
	
position: absolute;
left: 0;
bottom: 40px;
height: 5px;
background: white;
animation: barre_progression 25s ease-out infinite;
	
}
    
/*****animation barre progression *****/    
@keyframes barre_progression{
	
0%,20%,40%,60%,80%,100%{width: 0%;opacity: 0}
	
4%,24%,44%,64%,84%{width: 0%;opacity: .3}
	
16%,36%,56%,76%,96%{width: 100%;opacity: .7}
	
17%,37%,57%,77%,97%{width: 100%;opacity: .3}
	
18%,38%,58%,78%,98%{width: 100%;opacity: 0}
	
	}
	

.tabcenter{
   margin-left:auto;
   margin-right:auto;
}

table{
  border-collapse: collapse;
  width: 700px;
  background-color: #5082EC;
}
th, td{
  border: 1px solid black;
  padding: 10px;
  vertical-align: top;
}

tbody tr {
  background-color: #8EA9E3;
}